/*
@import this file directly into your existing Less files to use these mixins
*/
.sprite-booktime-search() {
/* You may have to set 'display: block' */
	width: 72px;
	height: 72px;
	background: url('booktime.png') 0 0;
}
.sprite-booktime-bars() {
/* You may have to set 'display: block' */
	width: 72px;
	height: 72px;
	background: url('booktime.png') -72px 0;
}
.sprite-booktime-logo() {
/* You may have to set 'display: block' */
	width: 216px;
	height: 72px;
	background: url('booktime.png') -144px 0;
}
.sprite-booktime-booked() {
/* You may have to set 'display: block' */
	width: 90px;
	height: 76px;
	background: url('booktime.png') -360px 0;
}
.sprite-booktime-bookmark-empty() {
/* You may have to set 'display: block' */
	width: 40px;
	height: 40px;
	background: url('booktime.png') -450px 0;
}
.sprite-booktime-button-bookme() {
/* You may have to set 'display: block' */
	width: 124px;
	height: 36px;
	background: url('booktime.png') -490px 0;
}
.sprite-booktime-button-bookme2() {
/* You may have to set 'display: block' */
	width: 189px;
	height: 59px;
	background: url('booktime.png') -614px 0;
}
.sprite-booktime-button-getdirection() {
/* You may have to set 'display: block' */
	width: 189px;
	height: 59px;
	background: url('booktime.png') -803px 0;
}
.sprite-booktime-button-tofavorite() {
/* You may have to set 'display: block' */
	width: 159px;
	height: 41px;
	background: url('booktime.png') -992px 0;
}
.sprite-booktime-button-call() {
/* You may have to set 'display: block' */
	width: 52px;
	height: 22px;
	background: url('booktime.png') -1151px 0;
}
.sprite-booktime-button-chat() {
/* You may have to set 'display: block' */
	width: 64px;
	height: 23px;
	background: url('booktime.png') -1203px 0;
}
.sprite-booktime-accept-active() {
/* You may have to set 'display: block' */
	width: 181px;
	height: 46px;
	background: url('booktime.png') -1267px 0;
}
.sprite-booktime-accept() {
/* You may have to set 'display: block' */
	width: 181px;
	height: 46px;
	background: url('booktime.png') -1448px 0;
}
.sprite-booktime-close() {
/* You may have to set 'display: block' */
	width: 194px;
	height: 56px;
	background: url('booktime.png') -1629px 0;
}
.sprite-booktime-close-active() {
/* You may have to set 'display: block' */
	width: 194px;
	height: 56px;
	background: url('booktime.png') -1823px 0;
}
.sprite-booktime-confirm() {
/* You may have to set 'display: block' */
	width: 180px;
	height: 46px;
	background: url('booktime.png') -2017px 0;
}
.sprite-booktime-decline-active() {
/* You may have to set 'display: block' */
	width: 181px;
	height: 46px;
	background: url('booktime.png') -2197px 0;
}
.sprite-booktime-decline() {
/* You may have to set 'display: block' */
	width: 181px;
	height: 46px;
	background: url('booktime.png') -2378px 0;
}
.sprite-booktime-declined() {
/* You may have to set 'display: block' */
	width: 180px;
	height: 47px;
	background: url('booktime.png') -2559px 0;
}
.sprite-booktime-sendmessage-active() {
/* You may have to set 'display: block' */
	width: 136px;
	height: 27px;
	background: url('booktime.png') -2739px 0;
}
.sprite-booktime-sendmessage() {
/* You may have to set 'display: block' */
	width: 136px;
	height: 27px;
	background: url('booktime.png') -2875px 0;
}
.sprite-booktime-viewcalendar-active() {
/* You may have to set 'display: block' */
	width: 182px;
	height: 47px;
	background: url('booktime.png') -3011px 0;
}
.sprite-booktime-viewcalendar() {
/* You may have to set 'display: block' */
	width: 182px;
	height: 47px;
	background: url('booktime.png') -3193px 0;
}
.sprite-booktime-waitingqueue-active() {
/* You may have to set 'display: block' */
	width: 181px;
	height: 46px;
	background: url('booktime.png') -3375px 0;
}
.sprite-booktime-waitingqueue() {
/* You may have to set 'display: block' */
	width: 181px;
	height: 46px;
	background: url('booktime.png') -3556px 0;
}
.sprite-booktime-pending() {
/* You may have to set 'display: block' */
	width: 181px;
	height: 47px;
	background: url('booktime.png') -3737px 0;
}
