/*
@import this file directly into your existing Scss files to use these mixins
*/
@mixin sprite-booktime-search() {
/* You may have to set 'display: block' */
	width: 72px;
	height: 72px;
	background: url('booktime.png') 0 0;
}
@mixin sprite-booktime-bars() {
/* You may have to set 'display: block' */
	width: 72px;
	height: 72px;
	background: url('booktime.png') -72px 0;
}
@mixin sprite-booktime-logo() {
/* You may have to set 'display: block' */
	width: 216px;
	height: 72px;
	background: url('booktime.png') -144px 0;
}
@mixin sprite-booktime-booked() {
/* You may have to set 'display: block' */
	width: 90px;
	height: 76px;
	background: url('booktime.png') -360px 0;
}
@mixin sprite-booktime-bookmark-empty() {
/* You may have to set 'display: block' */
	width: 42px;
	height: 42px;
	background: url('booktime.png') -450px 0;
}
@mixin sprite-booktime-button-bookme() {
/* You may have to set 'display: block' */
	width: 130px;
	height: 42px;
	background: url('booktime.png') -492px 0;
}
@mixin sprite-booktime-button-bookme2() {
/* You may have to set 'display: block' */
	width: 194px;
	height: 60px;
	background: url('booktime.png') -622px 0;
}
@mixin sprite-booktime-button-getdirection() {
/* You may have to set 'display: block' */
	width: 194px;
	height: 60px;
	background: url('booktime.png') -816px 0;
}
@mixin sprite-booktime-button-tofavorite() {
/* You may have to set 'display: block' */
	width: 158px;
	height: 39px;
	background: url('booktime.png') -1010px 0;
}
@mixin sprite-booktime-button-call() {
/* You may have to set 'display: block' */
	width: 54px;
	height: 24px;
	background: url('booktime.png') -1168px 0;
}
@mixin sprite-booktime-button-chat() {
/* You may have to set 'display: block' */
	width: 66px;
	height: 24px;
	background: url('booktime.png') -1222px 0;
}
@mixin sprite-booktime-accept-active() {
/* You may have to set 'display: block' */
	width: 181px;
	height: 46px;
	background: url('booktime.png') -1288px 0;
}
@mixin sprite-booktime-accept() {
/* You may have to set 'display: block' */
	width: 181px;
	height: 46px;
	background: url('booktime.png') -1469px 0;
}
@mixin sprite-booktime-close() {
/* You may have to set 'display: block' */
	width: 194px;
	height: 56px;
	background: url('booktime.png') -1650px 0;
}
@mixin sprite-booktime-close-active() {
/* You may have to set 'display: block' */
	width: 194px;
	height: 56px;
	background: url('booktime.png') -1844px 0;
}
@mixin sprite-booktime-confirm() {
/* You may have to set 'display: block' */
	width: 180px;
	height: 46px;
	background: url('booktime.png') -2038px 0;
}
@mixin sprite-booktime-decline-active() {
/* You may have to set 'display: block' */
	width: 181px;
	height: 46px;
	background: url('booktime.png') -2218px 0;
}
@mixin sprite-booktime-decline() {
/* You may have to set 'display: block' */
	width: 181px;
	height: 46px;
	background: url('booktime.png') -2399px 0;
}
@mixin sprite-booktime-declined() {
/* You may have to set 'display: block' */
	width: 180px;
	height: 47px;
	background: url('booktime.png') -2580px 0;
}
@mixin sprite-booktime-sendmessage-active() {
/* You may have to set 'display: block' */
	width: 136px;
	height: 27px;
	background: url('booktime.png') -2760px 0;
}
@mixin sprite-booktime-sendmessage() {
/* You may have to set 'display: block' */
	width: 136px;
	height: 27px;
	background: url('booktime.png') -2896px 0;
}
@mixin sprite-booktime-viewcalendar-active() {
/* You may have to set 'display: block' */
	width: 182px;
	height: 47px;
	background: url('booktime.png') -3032px 0;
}
@mixin sprite-booktime-viewcalendar() {
/* You may have to set 'display: block' */
	width: 182px;
	height: 47px;
	background: url('booktime.png') -3214px 0;
}
@mixin sprite-booktime-waitingqueue-active() {
/* You may have to set 'display: block' */
	width: 181px;
	height: 46px;
	background: url('booktime.png') -3396px 0;
}
@mixin sprite-booktime-waitingqueue() {
/* You may have to set 'display: block' */
	width: 181px;
	height: 46px;
	background: url('booktime.png') -3577px 0;
}
@mixin sprite-booktime-pending() {
/* You may have to set 'display: block' */
	width: 181px;
	height: 47px;
	background: url('booktime.png') -3758px 0;
}
