/*
This is an example of how to use the image sprite in your own CSS files
*/
.booktime-icon-champion {
/* You may have to set 'display: block' */
	width: 40px;
	height: 40px;
	background: url('booktime-icon.png') 0 0;
}
.booktime-icon-hot {
/* You may have to set 'display: block' */
	width: 32px;
	height: 32px;
	background: url('booktime-icon.png') -40px 0;
}
.booktime-icon-operationtime {
/* You may have to set 'display: block' */
	width: 24px;
	height: 24px;
	background: url('booktime-icon.png') -72px 0;
}
.booktime-service-uncheck {
/* You may have to set 'display: block' */
	width: 48px;
	height: 48px;
	background: url('booktime-icon.png') -96px 0;
}
.booktime-service-check {
/* You may have to set 'display: block' */
	width: 48px;
	height: 48px;
	background: url('booktime-icon.png') -144px 0;
}
.booktime-icon-heart-love {
/* You may have to set 'display: block' */
	width: 32px;
	height: 32px;
	background: url('booktime-icon.png') -192px 0;
}
.booktime-icon-heart-notlove {
/* You may have to set 'display: block' */
	width: 32px;
	height: 32px;
	background: url('booktime-icon.png') -224px 0;
}
