/*
This is an example of how to use the image sprite in your own CSS files
*/
.booktime-shop-bg-left {
/* You may have to set 'display: block' */
	width: 9px;
	height: 106px;
	background: url('booktime-others.png') 0 0;
}
.booktime-shop-bg-right {
/* You may have to set 'display: block' */
	width: 217px;
	height: 106px;
	background: url('booktime-others.png') -9px 0;
}
.booktime-button-submit {
/* You may have to set 'display: block' */
	width: 193px;
	height: 57px;
	background: url('booktime-others.png') -226px 0;
}
.booktime-button-addnewphoto {
/* You may have to set 'display: block' */
	width: 208px;
	height: 208px;
	background: url('booktime-others.png') -419px 0;
}
