
.gradiant-white {
    background: #FFFFFF;
    background: -moz-linear-gradient(top, #FFFFFF 0%, #dadada 99%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(99%,#dadada));
    background: -webkit-linear-gradient(top, #FFFFFF 0%,#dadada 99%);
    background: -o-linear-gradient(top, #FFFFFF 0%,#dadada 99%);
    background: -ms-linear-gradient(top, #FFFFFF 0%,#dadada 99%);
    background: linear-gradient(to bottom, #FFFFFF 0%,#dadada 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#dadada',GradientType=0 );
}

.tabs-home .tabs{
    height: 30px;
}
 
 .tabs-home .tabs .tab-title{
     vertical-align: top;
     line-height: 30px;
     } 
 
 .tabs-home a:hover, .tabs-home a:focus, .tabs-home .tab-item-active{
     color: #e45b17;
     }


.shop-list {
    border: none;
    padding: 0;
}

    .shop-list:first-child, .shop-list:last-child {
        padding-left: 0px;
    }

.shop-image {
    display: block;
}

    .shop-image img {
        width: 100%;
        height: auto;
        display: block;
    }

.shop-details {
    padding: 7px 2px 7px 8px;
    text-align: left;
    display: block;
    background: #f8f0e5;
    color: black;
    width: 100%;
    height: 65px;
}

.shop {
    position: relative;
    display: block;
}

.shop-name {
    line-height: 21px;
    font-size: 21.5px;
    letter-spacing: 0.05em;
}

.shop-rank {
    color: #c0bcb9;
    font-size: 10px;
}

    .shop-rank .active{
        color: #e45b17;
    }

.shop-distance {
    margin-top: 1px;
    font-size: 11.5px;
    letter-spacing: 0.05em;
}

.shop-booked {
    margin-left: 25px;
    margin-top: 28px;
    position: absolute;
    font-size: 8px;
    letter-spacing: 0.1em;
    color: #666;
}

.shop-left {
    float: left;
}

.shop-right {
    float: right;
    width: 45px;
}

@media only screen and (min-device-width: 680px) {
    .tabs-home .tabs{        
        height: 80px;
        vertical-align: middle;
    }

    .tabs-home .tabs .tab-title{        
        vertical-align: bottom;
     }     
}

