 <section data-ng-controller="frontController" class="view-front">
        <carousel interval="50000" disable-animation="true" >
            <slide>
                <img src="res/screen/share/2x/login.png"/>                
                <div class="pannel-float">
                    <div class="left-inner-addon ">                        
                        <i class="glyphicon glyphicon-user form-control-feedback"></i>
                        <input type="email" class="form-control" id="InputEmail" placeholder="ENTER EMAIL ADDRESS">
                    </div>
                    <div class="left-inner-addon ">
                        <i class="icon-user"></i>
                        <input type="tel" class="form-control" id="InputPhone" placeholder="PHONE NUMBER">
                    </div>
                    <button ng-click="login()" class="login">LOG IN</button>                                        
                </div>    
                
                            
            </slide>
            <slide><img src="res/screen/share/2x/intro01.png" class="full-width full-height"/></slide>
            <slide><img src="res/screen/share/2x/intro02.png" class="full-width full-height"/></slide>
            <slide><img src="res/screen/share/2x/intro03.png" class="full-width full-height"/></slide>

        </carousel>
    </section> 
 