# --------------------
# OSX Files
# --------------------
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# --------------------
# IntelliJ Files
# --------------------
*.iml
*.ipr
*.iws
.idea/

# --------------------
# Netbeans Files
# --------------------
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# --------------------
# Node Files
# --------------------
.nodemonignore
npm-debug.log
node_modules/

# --------------------
# SASS Files
# --------------------
.sass-cache/

# --------------------
# Bower Files
# --------------------
.bower-*/
bower_components

# --------------------
# App Files
# --------------------
test/coverage/
modules/public/
modules/views/
/public/build/


# --------------------
# Dart
# --------------------
packages
build
out
pubspec.lock
.project
.children
.buildlog
*.js_
*.js.deps
*.js.map
*.dart.js
bower_components
node_modules
phonegap/www
phonegap/platforms
.idea


# --------------------
# Mongo Db
# --------------------
/data/db
!/data/db/README.md