/*
@import this file directly into your existing Scss files to use these mixins
*/
@mixin sprite-booktime-icon-champion() {
/* You may have to set 'display: block' */
	width: 42px;
	height: 42px;
	background: url('booktime-icon.png') 0 0;
}
@mixin sprite-booktime-icon-hot() {
/* You may have to set 'display: block' */
	width: 42px;
	height: 42px;
	background: url('booktime-icon.png') -42px 0;
}
