[class^="booktime-"],
[class*=" booktime-"] {
    display: inline-block;
    line-height: 36px;
    zoom: 0.5;
}

.booktime-search.activated {
    background: url('booktime.png') -3px 0;    
}

@media only screen and (min-device-width: 680px) {
    [class^="booktime-"],
    [class*=" booktime-"] {
        zoom: 1.5;
    }
}

.photos-reviews-bg {
    background: url('booktime-shop-bg-right.png') 0 0;
    zoom: 0.5;
    display: block;
    height: 106px;
    width: 216px;
    position: absolute;
    top: 0px;
}
