
<ion-view title="NOTIFICATIONS" left-buttons="leftButtons">
    <ion-nav-buttons side="left" class="bar-positive">
        <button class="button">Edit</button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right" class="bar-positive">
        <button class="button">Close</button>
    </ion-nav-buttons>
    <ion-content has-header="true" padding="true">
        <div class="mockup">
            <img src="res/screen/share/2x/07_notifications.jpg" />
        </div> 
    </ion-content>
</ion-view>