<section data-ng-controller="SettingController">
    <ion-view title="SETTINGS" left-buttons="leftButtons">
        <ion-nav-buttons side="right" class="bar-positive">
            <a class="button button-clear button-booktime" href="#!/main/tab/home/food">Close</a>
        </ion-nav-buttons>
        <ion-content class="has-tabs-top" padding="false">
            <ion-list show-delete="shouldShowDelete">
                <a class="item item-icon-right" href="#">
                    Booker Profile
                    <i class="icon ion-ios7-arrow-right"></i>
                </a>
                <a class="item item-icon-right" href="#">
                    Shop owner Profile
                    <i class="icon ion-ios7-arrow-right"></i>
                </a>
                <div class="item item-divider">
                </div>
                <a class="item item-icon-right" href="#">
                    Notificaions
                    <span class="item-note">
                        ON
                    </span>
                    <i class="icon ion-ios7-arrow-right"></i>
                </a>
                <a class="item item-icon-right" href="#">
                    Privacy
                    <i class="icon ion-ios7-arrow-right"></i>
                </a>
                <div class="item item-divider">
                </div>
                <a class="item item-icon-right" href="#">
                    Help
                    <i class="icon ion-ios7-arrow-right"></i>
                </a>
                <a class="item item-icon-right" href="#">
                    About BOOKTIME
                    <i class="icon ion-ios7-arrow-right"></i>
                </a>
                <div class="item item-divider">
                </div>
            </ion-list>
            <!--<div class="mockup">
                <img src="res/screen/share/2x/10_1settings_main.png" />
            </div>-->
        </ion-content>
    </ion-view>
</section>