 <section data-ng-controller="NotificationsController" class="section-notifications">
    <ion-view title="NOTIFICATIONS" left-buttons="leftButtons">
        <ion-nav-buttons side="left" class="bar-positive">
            <button class="button button-clear button-booktime">Edit</button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right" class="bar-positive">
            <button class="button button-clear button-booktime">Close</button>
        </ion-nav-buttons>
        <ion-content has-header="true" padding="false">
            <div class="mockup">
                <img src="res/screen/share/2x/09_notifications_main.png" />
            </div>
            <div class="item item-text-wrap">
                <div class="list">
                    <div class="item item-thumbnail-left row" href="#" >
                        <div class="col"><img src="/img/docs/siamese-dream.jpg" /></div>
                        <div class="col">Vanilla Bake Shop message you. The shop will close on Monday"</div>
                        <div class="col"><button class="button button-icon button-small booktime-button-bookme2" ng-click="modal.show()"></button></div>
                    </div>
                </div>
            </div>
        </ion-content>
    </ion-view>
</section>