<section data-ng-controller="HomeController">
    <ons-screen>
        <ons-tabbar>
            <ons-tabbar-item active="true"
                             label="schedule"
                             icon="calendar"
                             page="modules/core/views/navigator1.html"></ons-tabbar-item>
            <ons-tabbar-item label="chat"
                             icon="comments"
                             page="modules/core/views/page2.html"></ons-tabbar-item>
            <ons-tabbar-item label="home"
                             icon="home"
                             page="modules/core/views/page3.html"></ons-tabbar-item>
            <ons-tabbar-item label="notifications"
                             icon="exclamation-circle"
                             page="modules/core/views/page3.html"></ons-tabbar-item>
            <ons-tabbar-item label="settings"
                             icon="gear"
                             page="modules/core/views/page3.html"></ons-tabbar-item>
        </ons-tabbar>
    </ons-screen>
</section>
