 

<ion-side-menus>
    <fade-bar></fade-bar> 
    <ion-pane ion-side-menu-content>
<!--        <div class="mainbar">-->
<!--            <img src="res/screen/share/2x/02_mainpage_toolbar.jpg" style="height:auto;width: 100%;" />-->
<!--        </div>        -->
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
    </ion-pane>

    <ion-side-menu side="left">
        <header class="bar bar-header bar-stable">
            <h1 class="title">Left</h1>
        </header>
        <ion-content class="has-header">
            <div class="xpannel-profile">
                <div class="xprofile-name">{{profile.name}}</div>
                <div class="xprofile-info">{{profile.booked}} booked | {{profile.favorites}} Favorites</div>
            </div>
            <ion-list>
                <ion-item nav-clear menu-close ng-repeat="it in menus" ng-click="showDetail($index)">
                    <i class="fa fa-lg" ng-class="it.icon"></i> {{it.label}}
                </ion-item> 
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
