.section-service .shop,
.section-service .shop .item-content {
  padding: 0;
}
.section-service .shop img {
  width: 64px;
  height: 58px;
  display: block;
  margin: 12px;
  float: left;
}
.section-service .details {
  margin-left: 20px;
  height: 66px;
  display: block;
  padding: 8px;
}
.section-service .shop .name {
  font-size: 16px;
  line-height: 16px;
}
.section-service .shop .rank {
  display: block;
  font-size: 10px;
  line-height: 10px;
}
.section-service .shop .catalog {
  display: block;
  font-size: 12px;
  line-height: 12px;
}
.section-service .shop .distance {
  display: block;
  font-size: 12px;
  line-height: 12px;
}
.section-service .shop .booked {
  display: block;
  position: relative;
  float: right;
  top: 0;
}
.section-service .shop .booked-comments {
  display: block;
  font-size: 12px;
  line-height: 12px;
}