<section data-ng-controller="SettingController" class="section-setting">
  <ion-view title="SETTINGS" left-buttons="leftButtons">
    <ion-nav-buttons side="right" class="bar-positive"> <a class="button button-clear button-booktime" href="#!/main/tab/home/food">Close</a> </ion-nav-buttons>
    <ion-content class="has-tabs-top" padding="false">
      <ion-list show-delete="shouldShowDelete">
        <ion-item class="item-icon-right" href="#">
          Booker Profile
          <i class="icon ion-ios7-arrow-right"></i>
        </ion-item>
        <ion-item class="item-icon-right" ui-sref="^.owners">
          Shop owner Profile
          <i class="icon ion-ios7-arrow-right"></i>
        </ion-item>
        <ion-item class="item-divider"></ion-item>
        <ion-toggle ng-model="userSetting.notificationsEnabled" toggle-class="toggle-balanced">
          Notificaions
        </ion-toggle>
        <ion-item class="item-icon-right" ui-sref="^.privacy">
          Privacy
          <i class="icon ion-ios7-arrow-right"></i>
        </ion-item>
        <ion-item class="item-divider"></ion-item>
        <ion-item class="item-icon-right" ui-sref="^.help">
          Help
          <i class="icon ion-ios7-arrow-right"></i>
        </ion-item>
        <ion-item class="item-icon-right" ui-sref="^.about">
          About BOOKTIME
          <i class="icon ion-ios7-arrow-right"></i>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-view>
</section>
