
<section view-home ng-cloak>
  <header>
        <button ng-click="it.back()" class="btn btn-default">Back</button>
  </header>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

      <div>
        <h1>HOME</h1>
        <nav class="navbar navbar-default navbar-fixed-bottom"
          role="navigation">
          <div class="container">
            <ul class="nav nav-pills">
              <li class="active"><a href="#/home">Home</a></li>
              <li><a href="#/chat">Chat</a></li>
              <li><a href="#/shop">Shop</a></li>
              <li><a href="#/schedule">Schedule</a></li>
            </ul>
          </div>
        </nav>
        sss<br /> sss
      </div>
    </div>
  </div>
</section>
