<section data-ng-controller="FrontController" class="view-front">
    <ons-screen>
        <ons-page class=" view-front center">

            <carousel interval="50000" disable-animation="true">
                <slide>
                    <div class="pannel-float">
                        <ons-button ng-click="login()" class="mock">LOG IN</ons-button>  
                    </div>
                    <img src="res/screen/share/2x/01-4_login.jpg" style=" margin:auto;">
                </slide>
                <slide><img src="res/screen/share/2x/01_intro.jpg" style=" margin:auto;"></slide>
                <slide><img src="res/screen/share/2x/01-2_intro.jpg" style=" margin:auto;"></slide>
                <slide><img src="res/screen/share/2x/01-3_intro.jpg" style=" margin:auto;"></slide>
               
            </carousel>
        </ons-page>
    </ons-screen>
</section>
