<section data-ng-controller="HomeController">
    <ons-screen>
        <ons-tabbar>
            <ons-tabbar-item 
                             label="schedule"
                             icon="calendar"
                             page="modules/schedule/views/schedule.client.view.html"></ons-tabbar-item>
            <ons-tabbar-item label="chat"
                             icon="comments"
                             page="modules/chat/views/chat.client.view.html"></ons-tabbar-item>
            <ons-tabbar-item label="home"
                             active="true"
                             icon="home"
                             page="modules/home/views/home.client.view.html"></ons-tabbar-item>
            <ons-tabbar-item label="notifications"
                             icon="exclamation-circle"
                             page="modules/notifications/views/notifications.client.view.html"></ons-tabbar-item>
            <ons-tabbar-item label="settings"
                             icon="gear"
                             page="modules/settings/views/setting.client.view.html"></ons-tabbar-item>
        </ons-tabbar>
    </ons-screen>
</section>
