<section>
  <ion-side-menus>
    <fade-bar></fade-bar>
    <ion-pane ion-side-menu-content>
      <header class="bar bar-mainheader">
        <button menu-toggle="left" class="button button-icon booktime-bars"></button>
        <button class="button button-icon booktime-search"></button>
        <i class="booktime-logo  pull-right"></i>
      </header>
      <ion-nav-bar class="bar-booktime">
        <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
      </ion-nav-bar>

      <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
    </ion-pane>

    <ion-side-menu class="menu-booktime" side="left" width="275" data-ng-controller="SidemenuController">
      <!--<header class="bar bar-header bar-stable ">
                <h1 class="title">
                    Left
                </h1>
            </header>
            <ion-content class="has-header">-->
      <ion-content>
        <div class="pannel-profile">
          <div class="profile-image">
            <img src="{{profile.img}}" />
          </div>
          <div class="profile-name">{{profile.name}}</div>
          <div class="profile-info">{{profile.booked}} Booked | {{profile.favorites}} Favorites</div>
        </div>
        <ion-list>
          <ion-item class="menu-item" ng-class="it.className" nav-clear menu-close ng-repeat="it in menus" ng-click="showDetail($index)">
            <i class="fa fa-lg" ng-class="it.icon"></i> &nbsp;{{it.label}}
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-side-menu>
  </ion-side-menus>

</section>