<ion-tabs class="tabs-booktime tabs-icon-top">
  <ion-tab title="schedule" icon="ion-calendar" href="#/main/tab/schedule">
    <ion-nav-view name="schedule-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="chat" icon="ion-chatbubbles" href="#/main/tab/chat">
    <ion-nav-view name="chat-tab"></ion-nav-view>
  </ion-tab>
  <ion-tab title="home" icon="ion-home" href="#/main/tab/home/food">
    <ion-nav-view name="home-tab"></ion-nav-view>
  </ion-tab>
  <ion-tab title="notifications" icon="ion-information-circled" href="#/main/tab/notifications">
    <ion-nav-view name="notifications-tab"></ion-nav-view>
  </ion-tab>
  <ion-tab title="settings" icon="ion-gear-b" href="#/main/tab/settings">
    <ion-nav-view name="settings-tab"></ion-nav-view>
  </ion-tab>
</ion-tabs>