.view-chat .pannel-float {
  position: absolute;
  /*width: 100%;
  height: 100%;*/
  /* top: 85%; */
  
  top: 20%;
  width: 100%;
}
.chat-receive, .chat-mine {
  padding: 4px 10px;
  margin-bottom: 10px;
  border-radius: 12px;
  font-size: 0.85em;
  text-align: left;
}
.chat-receive {
  background-color: #aaa;
}
.chat-mine {
  background-color: lightgreen;
}
.view-chat .row {
  margin: 0 -20px;
  display: block;
  flex-wrap: initial;
  -webkit-flex-wrap: initial;
  width: initial;
}