<section data-ng-controller="ShopController" class="section-shop">
    <ion-view title="Suan Kularb Restaurant" left-buttons="leftButtons">
        <ion-content has-header="false" padding="false">
            <div class="albums">
                <div class="row albums-thumbnail">
                    <div class="col-33 thumbnail"
                         ng-repeat="p in it.albums">
                        <a href="#" class="">
                            <img src="{{p}}" alt="no photo">
                        </a>
                    </div>
                </div>
            </div>
            <div class="card card-review">
                <div class="item item-divider">
                    Customer Reviews
                </div>
                <div class="item item-text-wrap">
                    <div class="row">
                        <div class="col font-size-80per">
                            Sort by: Most Helpfull | Newest
                        </div>
                        <div class="col font-size-80per">
                            View all {x} comments &gt;
                        </div>
                    </div>
                </div>
                <div class="item item-text-wrap">
                    <div class="list">
                        <div class="card card-comment" ng-repeat="t in [1,2,3,4]">
                            <div class="row user-info">
                                <div class="col">
                                    <img src="/img/docs/siamese-dream.jpg" />
                                </div>
                                <div class="col-25 font-size-80per">
                                    <span class="name">Pacharee S.</span>
                                    <i class="booktime-icon-hot"></i>
                                </div>
                                <div class="col-50 font-size-80per">
                                    <i class="booktime-icon-hot"></i>
                                    {x} people found this helpfull
                                </div>
                            </div>
                            <div class="row">
                                <div class="col message">
                                    This is a must for Thai Food lovers! Great orginal taste..
                                    This is a must for Thai Food lovers! Great orginal taste..
                                    This is a must for Thai Food lovers! Great orginal taste..
                                    This is a must for Thai Food lovers! Great orginal taste..
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </ion-content>
    </ion-view>
</section>
