<section data-ng-controller="BookingController" class="section-booking" data-ng-init="init()">
  <form name="createForm" class="form-horizontal" role="form">
    <ion-modal-view>
      <ion-header-bar class="background-orange">
        <h1 class="title">BOOKING</h1>
        <div class="buttons">
          <div class="button button-clear" ng-click="closeModal()">
            <span class="icon ion-close"></span>
          </div>
        </div>
      </ion-header-bar>
      <ion-content has-header="false" padding="true">
        <div class="row ">
          <div class="col-25">
            <img src="res/shops/1/main.jpg">
          </div>
          <div class="col-75 details">
            <span class="row name">{{it.name}}</span>
            <span class="row address">{{it.address}}</span>
            <span class="row address">{{it.address2}}</span>
            <span class="row lastBooked-distance">Last booked {{it.lastBooked}} / {{it.distance}}</span>
            <span class="row operationTime"><i class="booktime-icon-operationtime"></i>{{it.operationTime}}</span>
          </div>
        </div>
        <div class="row booking">
          <div class="col-90">
            <div class="list">
              <label class="item item-input item-select">
                <div class="input-label">&nbsp;</div>
                <select data-ng-model="booking.date">
                  <option ng-repeat="it in bookDates" value="{{it.value}}">{{it.text}}</option>
                </select>
              </label>
              <label class="item item-input item-select">
                <div class="input-label">&nbsp;</div>
                <select data-ng-model="booking.time">
                  <option ng-repeat="it in bookTimes" value="{{it.value}}">{{it.text}}</option>
                </select>
              </label>
              <label class="item item-input item-select">
                <div class="input-label"> &nbsp;</div>
                <select data-ng-model="booking.person">
                  <option ng-repeat="it in persons" value="{{it.value}}">{{it.text}}</option>
                </select>
              </label>
            </div>
            <div class="row deal ">
              <div class="col">
                <div class="card card-deal">
                  <div class="item item-divider background-orange">
                    {{booking.promotion}}
                  </div>
                </div>
              </div>
            </div>
            <div class="row comment">
              <div class="col">
                <div class="row">
                  <span>Please enter any additional requests or information that you wish to notify the place about:</span> {{commantRemain}}
                </div>
                <div class="row">
                  <textarea cols="40" rows="8" data-ng-model="booking.comment"></textarea>
                </div>
                <div class="row">
                  <span>Remaining characters: {{200-booking.comment.length}}</span>
                </div>
              </div>
            </div>
            <div class="row">
              &nbsp;
            </div>
          </div>
        </div>
        <div class="row ">
          <div class="col text-center">
            <br/>
            <br/>
          </div>
        </div>
        </div>
      </ion-content>
      <ion-footer-bar class="bar col">
        <div class="text-center">
          <button class="button button-icon button-small booktime-button-bookme2" ng-click="doBooking(createForm.$valid)">
          </button>
        </div>
      </ion-footer-bar>
    </ion-modal-view>
  </form>
</section>
