<section data-ng-controller="BookingController">
    <div class="modal">      
        <ion-header-bar>
            <h1 class="title">BOOKING</h1>
            <div class="buttons">
                <div class="button button-clear" ng-click="modal.hide()"><span class="icon ion-close"></span></div>
            </div>
        </ion-header-bar>
        <ion-content has-header="true" padding="true">
            <div class="mockup">
                <img src="res/screen/share/2x/06_booking1-popup.png" />
            </div>
        </ion-content>
    </div>

</section>