<section data-ng-controller="ShopOwnerController" class="section-shop-owner" data-ng-init="init()">
  <ion-view title="Shop Owner" left-buttons="leftButtons">
    <ion-content class="has-tabs-top" padding="false">
      <form name="createForm" class="form-horizontal" role="form" data-ng-submit="createOrUpdate(createForm.$valid)">
        <div class="list">
          <label class="item item-input">
            <div class="displayed-photo">
              <img src="res/shops/1/main.jpg" />
            </div>
          </label>

          <div class="item item-input" data-ng-show="isUpdate">
            <div class="col-33">
              {{shop.booked}}
              <br/>booked
            </div>
            <div class="col-33">
              {{shop.reviews}}
              <br/>reviews
            </div>
            <div class="col-33">
              {{shop.photos}}
              <br/>photo posts
            </div>

          </div>

          <ion-toggle ng-model="shop.enabled" toggle-class="toggle-balanced" data-ng-show="isUpdate">Status</ion-toggle>

          <label class="item item-input">
            <span class="input-label">Name</span>
            <input name="name" data-ng-model="shop.name" type="text" required />
          </label>
          <label class="item item-input">
            <span class="input-label">Description</span>
            <textarea data-ng-model="shop.detail" rows="8">
            </textarea>
          </label>
          <label class="item item-input">
            <span class="input-label">Address</span>
            <input type="text" data-ng-model="shop.address" />
          </label>
          <label class="item item-input">
            <span class="input-label">Address2</span>
            <input type="text" data-ng-model="shop.address2" />
          </label>
          <label class="item item-input">
            <span class="input-label">Phone Number</span>
            <input type="text" data-ng-model="shop.phone" />
          </label>
          <label class="item item-input">
            <span class="input-label">Operation Time</span>
            <input type="text" data-ng-model="shop.operationTime" />
          </label>
          <a class="item item-input item-icon-right">
            <span class="input-label">Add photos</span>
            <i class="icon ion-ios7-arrow-right"></i>
            </label>
            <a class="item item-input item-icon-right">
              <span class="input-label">Add location</span>
              <i class="icon ion-ios7-arrow-right"></i>
            </a>
            <a class="item item-input item-icon-right">
              <span class="input-label">Category</span>
              {{shop.catalog}}
              <i class="icon ion-ios7-arrow-right"></i>
            </a>
            <a class="item item-input item-icon-right">
              <span class="input-label">Add/Edit Services</span>
              <i class="icon ion-ios7-arrow-right"></i>
            </a>
        </div>

        <div class="padding">
          <input type="submit" class="button button-block button-balanced" value="Save Change" />
          </button>
        </div>
        <div class="padding" data-ng-show="isUpdate">
          <button class="button button-assertive" data-ng-click="remove(it)">
            <i class="icon ion-trash-a"></i>
          </button>
        </div>
      </form>
    </ion-content>
  </ion-view>
</section>