<section data-ng-controller="ShopController">
    <ion-view title="Suan Kularb" left-buttons="leftButtons">
        <ion-nav-buttons side="right">
            <button class="button button-clear button-booktime">Share</button>
        </ion-nav-buttons>
        <ion-content has-header="false" padding="false">

            <div class="mockup">
                <img src="res/screen/share/2x/03_suankularb1.jpg">
            </div>wwwwwwwwwww
            <br /><br />
            <button class="button" ng-click="modal.show()">BOOK ME! www</button><br />
            <button class="button" ng-click="getDirection()">Get Direction</button><br />
        </ion-content>
    </ion-view>
</section>