<section data-ng-controller="ShopOwnerController" class="section-shop-owner" data-ng-init="find()">
  <ion-view title="SHOP LIST" left-buttons="leftButtons">
    <ion-nav-buttons side="right" class="bar-positive">
      <button class="button button-clear button-booktime" ui-sref="^.edit">Create Shop</button>
    </ion-nav-buttons>
    <ion-content class="has-tabs-top" padding="false">
      <ion-list class="list-shops">
        <ion-item class="shop item-button-right" ng-repeat="it in shops">
          <a ui-sref="^.edit({shopId:it._id})">
            <img src="{{it.image}}">
            <div class="details">
              <span class="name">{{it.name}}
              </span>
              <br/>
              <span class="catalog">{{it.catalog}}</span>
            </div>
          </a>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-view>
</section>