.content {
    margin-top: 50px;
}

.undecorated-link:hover {
    text-decoration: none;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.ng-invalid.ng-dirty {
    border-color: #FA787E;
}

.ng-valid.ng-dirty {
    border-color: #78FA89;
}

section {
    height: 100%;
}

body {
    background: white;
    color: black;
}

.full-screen {
}

@import url(menu.css);

.mainToolbar {
    display: block;
    background: black;
    height: 38px;
    margin-top: 22px;
}

    .mainToolbar .booktime-bars {
        margin-left: 11px;
    }

    .mainToolbar .booktime-search {
        margin-left: 2px;
    }

    .mainToolbar .booktime-logo {
        margin-right: 8px;
    }


.mock .mockup, .mock .mockup img{
    width: 100%;
    height: auto;
}

    .mock .mockup:before {
        content: 'MOCKUP';
        position: fixed;
        -ms-opacity: 0.2;
        opacity: 0.2;
        font-size: 90px;
        border: dotted 5px black;
        -webkit-transform: rotate(70deg) translate(145px, 127px);
        -moz-transform: rotate(70deg) translate(145px, 127px);
        -ms-transform: rotate(70deg) translate(145px, 127px);
        -o-transform: rotate(70deg) translate(145px, 127px);
        transform: rotate(70deg) translate(145px, 127px);
    }


     .fade-bar {
        height: 20px;
        width: 100%;
        position: fixed;
        z-index: 9999;
        opacity: 0;
        background-color: #000;
      }