
html,body{
    height: 100%
}

body {
  overflow:hidden;
}

#wrap
{
min-height: 100%;
}

#main
{
overflow:auto;
padding-bottom:150px; /* this needs to be bigger than footer height*/
}

.container-fluid {
  padding:0px;
}