<section view-front ng-cloak>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <carousel interval="5000" warp="false" class="carousel slide">
      <slide>
        <div class="pannel-float">
          <ul>
          <li><button ng-click="it.connectFacebook()" class="btn btn-primary btn-connect-facebook">connect with FACEBOOK</button> </li>
          <li><button ng-click="it.connectGoogle()"  class="btn btn-primary btn-connect-google">connect with GOOGLE</button> </li>
          <li><button ng-click="it.connectEmail()"  class="btn btn-primary btn-connect-email">connect with EMAIL</button> </li>
          </ul>
        </div>
        <img src="images/front-4.png">
      </slide>
      <slide><img src="images/front-1.png"></slide>
      <slide><img src="images/front-2.png"></slide>
      <slide><img src="images/front-3.png"></slide>
      </carousel>
</div>
</div>
</section>