<header>
      <button ng-click="it.back()" class="btn btn-default">Back</button>
</header>
<section view-home ng-cloak>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

      <div>
        <h1>HOME</h1>
        <nav class="navbar navbar-default navbar-fixed-bottom"
          role="navigation">
          <div class="container">
            <ul class="nav nav-pills">
              <li class="active"><a href="#/home">Home</a></li>
              <li><a href="#/home">Profile</a></li>
              <li><a href="#/home">Messages</a></li>
            </ul>
          </div>
        </nav>
        sss<br /> sss<br /> sss<br /> sss<br /> sss<br /> sss<br /> sss<br />
        sss<br /> sss<br /> sss<br /> sss<br /> sss<br /> sss<br /> sss<br />
        sss<br /> sss<br /> sss<br /> sss<br /> sss<br /> sss<br /> sss<br />
        sss<br /> sss<br /> sss<br /> sss<br /> sss<br /> sss<br /> sss<br />
        sss<br /> sss<br /> sss<br /> sss<br /> sss<br /> sss<br /> sss<br />
        sss<br /> sss<br /> sss<br />
      </div>
    </div>
  </div>
</section>
<footertab></footertab>
