<ion-view title="Suan Kularb" left-buttons="leftButtons">
    <ion-nav-buttons side="left" class="bar-positive">
        <button class="button button-clear button-booktime">Chat</button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right" class="bar-positive">
        <button class="button button-clear button-booktime">View Profile</button>
    </ion-nav-buttons>
    <ion-content has-header="true" padding="false">
        <div class="mockup">
            <img src="res/screen/share/2x/06-2_chat2.jpg" />
        </div>
        <br/><br />
        <div class="pannel-float container-fluid">
            <div class="row">
                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                    <div class="chat-receive">
                        <p>
                            Booking Request send.<br /> Please waiting for a confirmation.
                            this is your booking details...
                        </p>
                        <p>
                            K.Pony Somrattanachai<br /> Tuesday 10 june 2014<br /> 5
                            people at 8.00pm<br /> additional requests:<br /> VIP Room
                        </p>
                        <p>Thank you for booking us!</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3">
                    <div class="chat-mine">
                        <p>
                            May I have change the time from 8.00pm to 8.30pm?<br /> Thank
                            you!
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>