<!--<ons-page class="center">-->
<!--    <header data-ng-include="'/modules/core/views/mainToolbar.client.view.html'"></header>-->
<!--    <section  class="view-chat">-->
<!--        <div class="mockup">-->
<!--            <img src="res/screen/share/2x/06-2_chat2.jpg" />-->
<!--            <!--<div class="pannel-float container-fluid">-->
<!--                <div class="row">-->
<!--                    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">-->
<!--                        <div class="chat-receive">-->
<!--                            <p>-->
<!--                                Booking Request send.<br /> Please waiting for a confirmation.-->
<!--                                this is your booking details...-->
<!--                            </p>-->
<!--                            <p>-->
<!--                                K.Pony Somrattanachai<br /> Tuesday 10 june 2014<br /> 5-->
<!--                                people at 8.00pm<br /> additional requests:<br /> VIP Room-->
<!--                            </p>-->
<!--                            <p>Thank you for booking us!</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="row">-->
<!--                    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3">-->
<!--                        <div class="chat-mine">-->
<!--                            <p>-->
<!--                                May I have change the time from 8.00pm to 8.30pm?<br /> Thank-->
<!--                                you!-->
<!--                            </p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>--> 
<!--        </div>-->
<!--    </section>-->
<!--</ons-page>-->
<!---->

<ion-view title="'Chat'" left-buttons="leftButtons">
    <ion-content has-header="true" padding="true">
        Chage
    </ion-content>
</ion-view>