<section data-ng-controller="TestController">

  {{name+name}}
  <br/> {{age}}
  <br/> {{add(2,3)}}

  <br/> [{{xx}}]
  <input type="text" ng-model="age" />
  <button data-ng-click="hello()" class="btn btn-default">Hello()</button>
  <hr/>

  <input type="text" data-ng-model="user.name" placeholder="name" />
  <input type="text" data-ng-model="user.phone" placeholder="phone" />
  <button data-ng-click="read()" class="btn btn-default">Read()</button>
  <button data-ng-click="write()" class="btn btn-default">Write()</button>
</section>