<section data-ng-controller="TestController">
  <ion-view title="Shop list" left-buttons="leftButtons">
    <ion-nav-buttons side="right" class="bar-positive">
      <button class="button button-clear button-booktime" ui-sref="admin.shops-create">Create Shop</button>
    </ion-nav-buttons>
    <ion-content class="has-tabs-top" padding="false">
      1
      <br/> 2
      <br/> 3
      <br/> 4
      <br/> 5
      <br/> 6
      <br/> 7
      <br/> 8
      <br/> 9
      <br/>


    </ion-content>
  </ion-view>
</section>