<section data-ng-controller="ShopController" data-ng="init()">
  <ion-view title="Create Shop" left-buttons="leftButtons">
    <ion-content class="has-tabs-top" padding="false">

      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password">
        </label>
      </div>



      <div class="padding">
        <button class="button button-block button-assertive">Submit</button>
      </div>

    </ion-content>
  </ion-view>
</section>