<section data-ng-controller="ShopController" class="section-shop ">
    <ion-view title="Suan Kularb">
        <ion-nav-buttons side="right">
            <button class="button button-clear button-booktime">Share</button>
        </ion-nav-buttons>
        <ion-content has-header="false" padding="false">

            <div class="row">
                <img class="displayed-photo" src="res/shops/1/main.jpg">
            </div>
            <div class="row row-photos relative">

                <div class="photos-albums">
                    <div class="photo-small col-25" ng-repeat="p in it.albums|limitTo:4">
                        <a href="#!/main/tab/album">
                            <img src="{{p}}">
                        </a>
                    </div>
                </div>
                <div class="photos-reviews">
                    <a href="#!/main/tab/album">
                        <div class="photos-reviews-bg"></div>
                        <div class="row"><div class="col">127 Photos</div></div>
                        <div class="row"><div class="col">143 Reviews</div></div>
                    </a>
                </div>
            </div>

            <div class="details">
                <div class="row">
                    <div class="col">
                        <span class="row name">{{it.name}}xxxxx</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col ">
                        <span class="row rank">{{it.rank}}</span>
                        <span class="row address">{{it.address}}</span>
                        <span class="row address">{{it.address2}}</span>
                        <span class="row lastBooked-distance">Last booked {{it.lastBooked}} / {{it.distance}}</span>
                        <span class="row operationTime"><i class="booktime-icon-operationtime"></i>{{it.operationTime}}</span>

                        <div class="row row-bottom commands">
                            <button class="button button-icon button-small booktime-button-tofavorite" ng-click="modal.show()"></button>
                            <button class="button button-icon button-small booktime-button-call" ng-click="getDirection()"></button>
                            <button class="button button-icon button-small booktime-button-chat" ng-click="getDirection()"></button>
                        </div>
                    </div>
                    <div class="col-40 main-commands">
                        <button class="button button-icon button-small booktime-button-bookme2" ng-click="modal.show()"></button><br />
                        <button class="button button-icon button-small booktime-button-getdirection" ng-click="getDirection()"></button><br />
                    </div>
                </div>
            </div>
            <div class="card card-shop-detail">
                <div class="item item-text-wrap">
                    Recognised for many years as one of the best Thai Restaurants in Bangkok, Suan Kularb is not your everyday local eatery. This is the kind of place to invite your discerning friends or when you want to impress visitors who think they have tried it all before. With its understated luxury, this beautiful restaurant and its small garden hidden in a narrow street off Pahonyothin 5 perfectly deserves its reputation as one of 10 best restaurants in Bangkok recommended by Bangkok Post.
                </div>
            </div>
            <div class="card card-shop-service">
                <div class="item item-divider">
                    OUR SERVICES<br />
                    Select form our services below
                </div>
                <div class="item item-text-wrap">
                    <div class="list">
                        <a class="item item-thumbnail-left" href="#">
                            <img src="/img/docs/siamese-dream.jpg" />
                            <i class="booktime-service-uncheck"></i>
                            <h2>COME 4 PAY 3 all you can eat menu at only 799 baht</h2>
                            <p>Available Mon-Fri until 15th August 2014, subject to availability. Dishes from a set menu and subject to change. Includes VAT, excludes service.</p>
                        </a>

                        <a class="item item-thumbnail-left" href="#">
                            <img src="/img/docs/nevermind.jpg" />
                            <i class="booktime-service-check"></i>
                            <h2>GET FREE DRINK every Mon-Thu</h2>
                            <p>
                                Get free 1 drink for every 500 baht order. Available Mon-Thu from 2pm to 5pm until 15 th August 2014, subject to availability. Dishes from a set menu and subject to change. Includes VAT, excludes service.
                            </p>
                        </a>
                        <a class="item item-thumbnail-left" href="#">
                            <img src="/img/docs/siamese-dream.jpg" />
                            <i class="booktime-service-uncheck"></i>
                            <h2>COME 4 PAY 3 all you can eat menu at only 799 baht</h2>
                            <p>Available Mon-Fri until 15th August 2014, subject to availability. Dishes from a set menu and subject to change. Includes VAT, excludes service.</p>
                        </a>

                        <a class="item item-thumbnail-left" href="#">
                            <img src="/img/docs/nevermind.jpg" />
                            <i class="booktime-service-uncheck"></i>
                            <h2>GET FREE DRINK every Mon-Thu</h2>
                            <p>
                                Get free 1 drink for every 500 baht order. Available Mon-Thu from 2pm to 5pm until 15 th August 2014, subject to availability. Dishes from a set menu and subject to change. Includes VAT, excludes service.
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </ion-content>
    </ion-view>
</section>







