.section-notifications .item {
  border: none;
}
.section-notifications .item.item-text-wrap {
  padding: 0;
}
.section-notifications .status {
  padding: 0;
}
.section-notifications img {
  width: 64px;
  height: 58px;
  display: block;
  margin: 12px;
  float: left;
}
.section-notifications .statusCommand {
  margin: 15px 0;
}