.section-notifications .notification, .section-notifications .notification .item-content {
  padding: 5px 3px;  
}
.section-notifications .notification img {
  width: 64px;
  height: 58px;
  display: block;
  margin: 12px;
  float: left;
}
.section-notifications .notification .col-75 {
  max-width: 100%;
}
.section-notifications .notification .status button{
  margin-top: 10px;
}
.section-notifications .notification .displayName {
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
}
.section-notifications .notification .time {
  display: block;
  font-size: 12px;
  line-height: 15px;
  color: #808080;
}
@media only screen and (min-device-width: 680px) {
  .section-notifications .notification, .section-notifications .notification .item-content {
    padding-bottom: 20px;
  }
  .section-notifications .notification img {
    width: 160px;
    height: 145px;
    margin: 25px;
  }
  .section-notifications .notification .displayName {
    font-size: 36px;
    line-height: 38px;
  }
  .section-notifications .notification .time {
    font-size: 32px;
    line-height: 34px;
  }
}