<section data-ng-controller="HomeController">
    <ion-tabs class="tabs-top">
        <ion-tab title="FOOD" href="#/main/tab/home/food">
            <ion-nav-view name="food-tab"></ion-nav-view>
        </ion-tab>
        <ion-tab title="SERVICES" href="#/main/tab/home/services">
            <ion-nav-view name="services-tab"></ion-nav-view>
        </ion-tab>
        <ion-tab title="RECOMMEND" href="#/main/tab/home/recommend">
            <ion-nav-view name="recommend-tab"></ion-nav-view>
        </ion-tab>
    </ion-tabs>

</section>