<ons-page class="center" style="background: white;">
    <ons-toolbar style="background: red;">
        <div class="center">
            <img src="res/screen/share/2x/02_mainpage_toolbar.jpg" style="width:100%;height:auto;">
        </div>
    </ons-toolbar> 
    <!--<div style="position:relative;" class="full-height">-->
    <ons-screen>
        <ons-scroller>
            <img src="res/screen/share/2x/02_mainpage_content1.jpg" style="width:100%;">
            <img src="res/screen/share/2x/02_mainpage_content2.jpg" style="width:100%;"> 
            <img src="res/screen/share/2x/02_mainpage_content1.jpg" style="width:100%;">
            <img src="res/screen/share/2x/02_mainpage_content2.jpg" style="width:100%;"> 
            <img src="res/screen/share/2x/02_mainpage_content1.jpg" style="width:100%;">
            <img src="res/screen/share/2x/02_mainpage_content2.jpg" style="width:100%;"> 
        </ons-scroller>
    </ons-screen>
    <!--</div>-->
</ons-page>