
<ion-view title="">
    <navthirdbuttons>
        <button class="button button-clear button-third">FOOD</button>
        <button class="button button-clear button-third">SERVICE</button>
        <button class="button button-clear button-third">HILIGHT</button>
    </navthirdbuttons>

    <ion-content has-header="false" padding="false">
        <ion-list>
            <ion-item ng-repeat="it in items" href="#!/main/tab/shop">
                {{it.name}}<br />
                {{it.rank}}<br />
                {{it.distance}} {{it.booked}}<br />
            </ion-item>
            <ion-item ng-repeat="it in items" href="#!/main/tab/shop">
                {{it.name}}<br />
                {{it.rank}}<br />
                {{it.distance}} {{it.booked}}<br />
            </ion-item>
            <ion-item ng-repeat="it in items" href="#!/main/tab/shop">
                {{it.name}}<br />
                {{it.rank}}<br />
                {{it.distance}} {{it.booked}}<br />
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>