 
<ion-view title="Home" left-buttons="leftButtons">
    
    <ion-nav-buttons side="left" class="bar-positive">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        <button menu-toggle="left" class="button button-icon icon ion-ios7-search"></button>
    </ion-nav-buttons>
    <ion-content has-header="true" padding="false">

        <ion-list>
            <ion-item ng-repeat="it in items" href="#!/main/tab/shop">
                {{it.name}}<br />
                {{it.rank}}<br />
                {{it.distance}} {{it.booked}}<br />
            </ion-item>
            <ion-item ng-repeat="it in items" href="#!/main/tab/shop">
                {{it.name}}<br />
                {{it.rank}}<br />
                {{it.distance}} {{it.booked}}<br />
            </ion-item>
            <ion-item ng-repeat="it in items" href="#!/main/tab/shop">
                {{it.name}}<br />
                {{it.rank}}<br />
                {{it.distance}} {{it.booked}}<br />
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>