<section data-ng-controller="RecommendController">
    <ion-view hide-nav-bar="true">
        <ion-content has-header="false" padding="false">
            recommend<br />recommend<br />recommend<br />recommend<br />
            recommend<br />recommend<br />recommend<br />recommend<br />
            recommend<br />recommend<br />recommend<br />recommend<br />
            recommend<br />recommend<br />recommend<br />recommend<br />
            recommend<br />recommend<br />recommend<br />recommend<br />
            recommend<br />recommend<br />recommend<br />recommend<br />
            recommend<br />recommend<br />recommend<br />recommend<br />
            recommend<br />recommend<br />recommend<br />recommend<br />
            recommend<br />recommend<br />recommend<br />recommend<br />
            recommend<br />recommend<br />recommend<br />recommend<br />
            recommend<br />recommend<br />recommend<br />recommend<br />
            recommend<br />recommend<br />recommend<br />recommend<br />
            recommend<br />recommend<br />recommend<br />recommend<br />
            recommend<br />recommend<br />recommend<br />recommend<br />
            recommend<br />recommend<br />recommend<br />recommend<br />
            recommend<br />recommend<br />recommend<br />recommend<br />
            recommend<br />recommend<br />recommend<br />recommend<br />
            recommend<br />recommend<br />recommend<br />recommend<br />
            recommend<br />recommend<br />recommend<br />recommend<br />
            recommend<br />recommend<br />recommend<br />recommend<br />
            recommend<br />recommend<br />recommend<br />recommend<br />
        </ion-content>
    </ion-view>
</section>