

<ion-view title="Suan Kularb" left-buttons="leftButtons">
    <ion-nav-buttons side="left" class="bar-positive">
        <!--        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>-->
    </ion-nav-buttons>
    <ion-nav-buttons side="right" class="bar-positive">
        <button class="button button-clear">Share</button>
    </ion-nav-buttons>
    <ion-content has-header="true" padding="false">

        <div class="mockup">
            <img src="res/screen/share/2x/03_suankularb1.jpg">
        </div>
        <br /><br />
        <button class="button" ng-click="modal.show()">BOOK ME!</button><br />
        <button class="button" ng-click="getDirection()">Get Direction</button><br />
    </ion-content>
</ion-view>