.section-shop div{
    background-color: #f8efe4;
}

.section-shop img{
    width: 320px;
    height: 245px;
}

.row + .row-photos {
    margin-top: -50px;
}


.photo-small {
    display: inline-block;
}

.photo-small img{
    width: 50px;
    height: 50px;
}


.section-shop  .photos-reviews {
    font-size: 15px;
    color: #fff;
}

.section-shop  .details {
    font-size: 10px;
    
}
.section-shop  .details .name{
    font-size: 28px;
}
.section-shop  .details .lastBooked-distance{
    font-size: 8px;
}
 

.section-shop .commands .button {
    margin-left: 10px;
}

.section-shop .main-commands .button {
    margin-top: 10px;
}

.section-shop .main-commands .button:first-child {
    margin-top: 40px;
} 

.booktime-shop-bg-right {
    position: absolute;
    display: block;
    z-index: 1;
}

.card-shop-detail, .card-shop-detail div{
    font-size: 0.8em;
    line-height: 16px;
    background-color: #ececec;
}

.card-shop-detail .item{
    border-bottom-width: 4px;
    border-bottom-color: #9b968f;
}

.card-shop-service > .item{
    padding: 0;
    background-color: white;
}

.card-shop-service > .item.item-divider{
    padding: 8px;
    background-color: #F47822;
    color: white;
}

.card-shop-service img, .card-shop-service img:first-child{
    width: 40px;
    height: 40px;
}

.card-shop-service i {
    position: absolute;
    left: 20px;
    top: 120px;
}

.card-shop-service > .item.item-divider{
    padding: 8px;
    background-color: #F47822;
    color: white;
}

.card-shop-service h2 {
    color: #F47822;
}

.card-shop-service .item-thumbnail-left, .card-shop-service .item-thumbnail-left .item-content {
    padding-left: 60px;
}